*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: fit-content;
    height: fit-content;
}

form{
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
form > div{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

main#index{
    display: grid;
    grid-template-columns: 80% 20%;
    min-width: 60vw;
    min-height: 60vh;
    align-items: start;
    text-align: center;
    padding: 20px;
}
.table-output{
    display: flex;
    flex-direction: column;
    min-width: 60vw;
    min-height: 60vh;
    justify-content: start;
}
header{
    position: fixed;
    display: flex;
    justify-content: left;
    width: 99vw;
    padding: 5px;
    top: 0;
    right: 0;
}
header a{
    text-align: center;
    border: 2px solid rgba(0,0,0,0.2);
    border-radius: 2px;
    padding: 2px;
    text-decoration: none;
    color: black;
    background-color: #1e90ff;
    min-width: 80px;
}
header a:hover{
    background-color: #1b83eb;
}
.table-output > header{
    position: relative;
    justify-content: space-around;
    width: 100%;
}
.table-output > header a:nth-child(4){
    background-color: #ff1e1e;
}
.table-output header a:nth-child(4):hover{
    background-color: #eb1b1b;
}
.table-output .table{
    padding: 10px;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}
.table.users > div{
    display: grid;
    width: 100%;
    grid-template-columns: 0.15fr 0.4fr 1fr 1fr 1fr 0.3fr;
}
div.table.users > div:not(:first-child){
    background-color: #b4daff;
}
div.table.users > div:not(:first-child):hover{
    background-color: #9cbddd;
}
.table-output .table > div > p{
    border: 1px solid black;
    min-width: 40px;
    padding: 2px;
}
.table-form{
    border: 1px solid black
}
.table-form > div:first-child{
    display: grid;
    grid-template-columns: 0.2fr 1fr;
}